{% extends "base.html" %}
{% block content %}
    <div class="p-6 flex justify-center">
        <table class="table-auto border-collapse border border-slate-500 bg-slate-800 text-left">
            <thead class="bg-slate-700">
                <tr>
                    <th class="px-4 border border-slate-600">Name</th>
                    <th class="px-4 border border-slate-600">Affiliation</th>
                    <th class="px-4 border border-slate-600">Description</th>
                    <th class="px-4 border border-slate-600">Secrets</th>
                </tr>
            </thead>
            <tbody class="bg-slate-800">
                <tr>
                    <td class="px-4 border border-slate-700">Alice</td>
                    <td class="px-4 border border-slate-700">Order of Justice</td>
                    <td class="px-4 border border-slate-700">A good-hearted paladin trying to make the world a better place</td>
                    <td class="px-4 border border-slate-700">Her best friend is the villain!</td>
                </tr>
                <tr>
                    <td class="px-4 border border-slate-700">Blake</td>
                    <td class="px-4 border border-slate-700">Order of Justice, Wizard's Guild</td>
                    <td class="px-4 border border-slate-700">A talented arcanist with perhaps too much curiosity...</td>
                    <td class="px-4 border border-slate-700">They have a dangerous tome of magic and haven't told anyone</td>
                </tr>
                <tr>
                    <td class="px-4 border border-slate-700">Carla</td>
                    <td class="px-4 border border-slate-700">Order of Justice</td>
                    <td class="px-4 border border-slate-700">Alice's best friend and the plucky bard</td>
                    <td class="px-4 border border-slate-700">Actually the villain!</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}