{% extends "base.html" %}
{% block content %}
    <div class="p-6 flex justify-center">
        <table class="table-auto border-collapse border border-slate-500 bg-slate-800 text-left">
            <thead class="bg-slate-700">
                <tr>
                    <th class="px-4 border border-slate-600">Name</th>
                    <th class="px-4 border border-slate-600">Profession</th>
                    <th class="px-4 border border-slate-600">Hobbies</th>
                    <th class="px-4 border border-slate-600">Abode</th>
                </tr>
            </thead>
            <tbody class="bg-slate-800">
                <tr>
                    <td class="px-4 border border-slate-700">Alice</td>
                    <td class="px-4 border border-slate-700">Software Engineer</td>
                    <td class="px-4 border border-slate-700">Cats, video games</td>
                    <td class="px-4 border border-slate-700">Apartment</td>
                </tr>
                <tr>
                    <td class="px-4 border border-slate-700">Blake</td>
                    <td class="px-4 border border-slate-700">UX Architect</td>
                    <td class="px-4 border border-slate-700">Painting, air hockey, biking</td>
                    <td class="px-4 border border-slate-700">Studio</td>
                </tr>
                <tr>
                    <td class="px-4 border border-slate-700">Carla</td>
                    <td class="px-4 border border-slate-700">Project Manager</td>
                    <td class="px-4 border border-slate-700">Reading, travel</td>
                    <td class="px-4 border border-slate-700">House</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}